.welcome,
.thumbnail-gallery ,
.no-image {
  text-align: center;
}
.image-form
{
  width: 350px;
  margin: auto;
}
.image-list{
  text-align: center;
  grid-row-end: 10px
}
.image-list img {
  width: 500px;
}
